body {
    background-color: var(--background);
}
main {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-style:inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fixed-navigation{
    color: var(--link);
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 9999;
    text-align: right;
    padding-right: 100px;
    padding-top: 15px;

    
}
.fixed-navigation a {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:50px;
    
}
.fixed-navigation a:hover {
    color: var(--hover);
}
#journey {
    width: 400px;


}
.other-section{
    align-items: center;
}
.sidebar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    width: 300px;
    left: 0;
    right: 0;
    padding-top: 40px;
    text-align: center;
    


}
section {
    display: flex;
}
article, aside {
    border-radius: 2em;
    margin: 0.5em;
    padding: 1em 2em;
    background-color: var(--boxes);
}
article{
    flex: 5;
}
aside{
    flex: 2;
}
.sidebar div {
    padding: 8px;
    display: block;
}
main {

    overflow: hidden;
}
#page {
    background-color: white;
    width: 250px;
    text-align: center;
}
footer{
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--ligher);

}
.fixed-footer-nav a {
    color: var(--link);
    padding: 100px;
  
}
.fixed-footer-nav a:hover {
    color: var(--hover);
}

:root {
    --background: rgb(51, 102, 102);
    --boxes: rgb(189, 189, 189);
    --ligher: rgb(61, 121, 121);
    --darker: rgb(9, 51, 9);
    --hover:  blueviolet;
    --link: blue;


}